{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ page_title }}
{% endblock title %}

{% block formcontent %}
{% if form %}
<div class="text-center">
  <h2 style="color:darkcyan;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> {{ app_title }} </h2></div>
<form method="post" id="workflow-form">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="row">
      
        <div class="col-md-12 text-left">
          {{ form.ProcessName|as_crispy_field }}
        </div>
        
       </div>
          <div class="row">
          <div class="col-md-6 text-left">
            {{ form.para_1|as_crispy_field }}
            <!-- <select name="para_11" id="id_para_11" class="form-control"></select> -->
          </div>
          <div class="col-md-6 text-left">
            {{ form.value_1|as_crispy_field }}
          </div></div>
          
          <div class="row">
            <div class="col-md-6 text-left">
              {{ form.para_2|as_crispy_field }}
              <!-- <select name="para_22" id="id_para_22" class="form-control"></select> -->
              
            </div>
            <div class="col-md-6 text-left">
              {{ form.value_2|as_crispy_field }}

            </div></div>
            <div class="row">
                <div class="col-md-6 text-left">
                  {{ form.para_3|as_crispy_field }}
                  <!-- <select name="para_33" id="id_para_33" class="form-control"></select> -->
                </div>
                <div class="col-md-6 text-left">
                  {{ form.value_3|as_crispy_field }}
                </div></div>
                <div class="row">
                    <div class="col-md-6 text-left">
                      {{ form.para_4|as_crispy_field }}
                      <!-- <select name="para_44" id="id_para_44" class="form-control"></select> -->
                    </div>
                    <div class="col-md-6 text-left">
                      {{ form.value_4|as_crispy_field }}
                    </div></div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                          {{ form.para_5|as_crispy_field }}
                          <!-- <select name="para_55" id="id_para_55" class="form-control"></select> -->

                        </div>
                        <div class="col-md-6 text-left">
                          {{ form.value_5|as_crispy_field }}
                        </div></div>
                        <div class="row">
                            <div class="col-6">
                                {{ form.User_names|as_crispy_field }}
                            </div>
                        </div>

    <button type="submit">Submit</button>
  </form>
  {% else %}
    <a type="button" class="btn btn-primary" href="{% url 'addworkflow' %}" style="margin-left:15px;">Create</a>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- <script>

    document.addEventListener("DOMContentLoaded", function () {

        $("#id_AppName").change(function () {
            var application_nameId = this.value;  // Correct variable name
            // console.log(application_nameId);

            $.ajax({
                type: "POST",
                url: '{% url "get_model_ajax" %}',
                data: {
                    'application_nameId': application_nameId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    if ('error_message' in data) {
                        console.error(data.error_message);
                    } else {
                        // console.log(data.model_name);
                        document.getElementById("id_Main_model").value =data.model_name ;
                        var NameModel=data.model_name
                        AotoFields(application_nameId,NameModel);
                    }
                }
            });
  
        });

        // AppID GOT
        $("#id_AppName").change(function () {
            var application_nameId = this.value;  // Correct variable name
            // console.log(application_nameId);

            $.ajax({
                type: "POST",
                url: '{% url "get_appid_ajax" %}',
                data: {
                    'application_nameId': application_nameId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    if ('error_message' in data) {
                        console.error(data.error_message);
                    } else {
                        // console.log(data.model_name);
                        document.getElementById("id_AppID").value =data.AppID ;
                        var appid=data.AppID
                        AotoFields(application_nameId,appid);
                    }
                }
            });
  
        });
    }
    )
</script> -->
<!-- <script>
     function AotoFields(application_nameId,NameModel){
            // var mainModelName = this.value;
            var a = document.getElementById('id_application_name').value;
            console.log(NameModel)
            $.ajax({
                type: "POST",
                url: '{% url "get_fields_ajax" %}',
                data: {
                    'application_nameId':application_nameId,
                    'NameModel': NameModel,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
              
                success: function (data) {
                    let listid = ['id_para_11', 'id_para_22', 'id_para_33','id_para_44','id_para_55'];
                 
                    listid.forEach(function (id) {
                        var dropdown = document.getElementById(id);
                        dropdown.innerHTML = '';

                        // Populate dropdown options
                        for (var i = 0; i < data.length; i++) {
                            var option = document.createElement('option');
                            option.value = data[i];
                            option.text = data[i];
                            dropdown.appendChild(option);
                        }
                    });
                },
                error: function (error) {
                    console.error('Error fetching fields:', error);
                }
            });
            
        };
    
</script> -->

<!-- FIELD OF THAT MODEL SHOULD COME AS DROPDOWN  -->
<!-- JUGAD -->
<!-- <script>
     document.addEventListener("DOMContentLoaded", function () {
        
        $("#id_para_11").change(function () {
                   document.getElementById('id_para_1').value =this.value;
        })
        $("#id_para_22").change(function () {
                   document.getElementById('id_para_2').value =this.value;
        })
        $("#id_para_33").change(function () {
                   document.getElementById('id_para_3').value =this.value;
        })
        $("#id_para_44").change(function () {
                   document.getElementById('id_para_4').value =this.value;
        })
        $("#id_para_55").change(function () {
                   document.getElementById('id_para_5').value =this.value;
        })});
</script> -->


  
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
          {% if WFList %}
          <br>
          <h3>List of Workflow</h3>
          <div>
            <table class="table table-hover table-responsive-md table-bordered" style="font-size: 10px;">
                <thead>
                  <tr>
                    <th class="custom-th" scope="col">WFID</th>
                    <th class="custom-th" scope="col">AppName</th>
                    <th class="custom-th" scope="col">Process Name</th>
                    <th class="custom-th" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for wf in WFList %}
                  <tr>
                    <td class="custom-td" scope="row">{{wf.WF_ID}}</td>
                    <td class="custom-td">{{wf.AppName}}</td>
                    <td class="custom-td">{{wf.ProcessName}}</td>
                    <td class="custom-td">
                        <a type="button" class="btn btn-primary" href="{% url 'editworkflow' wf.WF_ID %}" style="padding-left:10px;padding-right: 10px;">Edit</a>
                        
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          <div>
          {% else %}
              <h4 class="text-center alert alert-warning" style="font-size: 14px;">No workflow available</h4>
          {% endif %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}
 


 